# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

# ML artifacts (future-proofing)
*.joblib
*.pkl